@mixin card__base($color) {
  width: 50%;
  min-width: 500px;
  max-width: 600px;
  height: auto;
  background-color: $color;
  padding: 20px;
  //   margin: 30px auto;
  margin: 0 auto;
  //border---------------------------
  border: 3px solid #c2baaf;
  border-radius: 10px;
}

.card__login {
  @include card__base(rgba(194, 186, 175, 0.22));
  margin-left: 100px;
}
.card__inputForm {
  @include card__base(rgba(194, 186, 175, 0.22));
}

.card__white {
  @include card__base(rgb(246, 246, 246));
  border: 7px solid #c2baaf;
}

//allList/_year.vueのcard
@mixin circle__back($color, $size) {
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  font-weight: bold;
  background-color: $color;
  border-radius: 50%;
  cursor: pointer;
}
.card__rectangle {
  width: 50%;
  min-width: 500px;
  height: auto;
  background-color: #f6f6f6;
  padding: 8px;
  //   margin: 30px auto;
  // margin: 0 auto;
  //border---------------------------
  border: 6px solid #c2baaf;
  border-radius: 10px;
  transition: 0.5s;
}
.card__rectangle:hover {
  background-color: #c2baaf7c;
  filter: drop-shadow(0 0 0.75rem #c2baafd9);
}

//各々の円形背景-----------------------
.circle__back__base {
  @include circle__back(#c2baaf7b, 80px);
  color: #673a15;
}
.circle__back__blue {
  @include circle__back(#5e8fbc, 80px);
  color: #673a15;
}
.circle__back__red {
  @include circle__back(#ef6258ad, 80px);
  color: #673a15;
}
.circle__back__yellow {
  @include circle__back(#ffde59, 80px);
  color: #673a15;
}
.circle__back__update {
  @include circle__back(#ef6258d7, 100px);
  color: #f6f6f6;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.circle__back__update:hover {
  background-color: #ef6258;
  filter: drop-shadow(0 0 0.75rem #ef62587e);
  transition: 0.5s;
}

// //hoverした時の処理----------------
// &:hover .circle__back__base {
//   background-color: #f6f6f6;
// }
