.card__login {
  width: 50%;
  min-width: 500px;
  height: auto;
  background-color: #c2baaf4a;
  padding: 20px;
  margin: 30px auto;
  //   margin: 0 auto;
  //border---------------------------
  border: 3px solid #c2baaf;
  border-radius: 10px;
}
