//color----------------------
$base_brown: #673a15;
$base_brown--50: rgba(103, 58, 21, 0.5);
$base_brown--25: rgba(103, 58, 21, 0.25);
$base_red: #ef6258;
$base_red--50: rgba(239, 98, 88, 0.5);
$base_gray: #c2baaf;
